:ruby

  if(current_user.session[:fission_admin] && (event.data[:host] || event.data[:callback_name]))
    extra_info = [:host, :callback_name].map do |k|
      if(event.data[k])
        "#{k}: #{colorize(event.data[k])}"
      end
    end.compact.join(' | ')
    extra = "[#{extra_info}]"
  end
- case event.type
- when 'service_start'
  ~ "[#{event.stamp}]: Starting service - #{event.data[:service_name]} #{extra}"
- when 'service_complete'
  ~ "[#{event.stamp}]: Completed service - #{event.data[:service_name]} #{extra}"
- when 'job_finalize'
  ~ "[#{event.stamp}]: Job reached completed state #{extra}"
- when 'info'
  ~ "[#{event.stamp}]: #{colorize(event.data[:info])}".html_safe
