- if content_for?(:pagination)
  %div.fission-pagination.well.well-sm= content_for(:pagination)

- content_for(:table) do
  - jobs.each do |job|
    %tr.linked{ :class => (job.status == :error ? 'danger' : ''), |
                :href => send("#{@namespace}_job_path", job.message_id) }
      %td= job.created_at.strftime('%Y/%m/%d %H:%M:%S')
      %td= job.message_id
      %td= job.account.name
      %td= job.payload.get(:data, :router, :action)
      %td= job.status
      %td= "#{job.percent_complete}%"

- headers        = ['Timestamp', 'Message ID', 'Account',  'Job Name', 'Status',   'Completed']
- header_classes = ['col-md-2',  'col-md-5',   'col-md-2', 'col-md-2', 'col-md-2', 'col-md-1']
= render(:partial => 'layouts/table',                     |
         :locals => { :table_id => 'log-display',         |
                      :table_content_name => :table,      |
                      :header_data => headers,            |
                      :header_classes => header_classes })

- if content_for?(:pagination)
  %div.fission-pagination.well.well-sm= content_for(:pagination)
