- content_for(:table) do
  - jobs.each do |job|
    - job_status = case job.status
      - when :error
        - "danger"
      - when :active
        - "warning"
      - when :success, :complete
        - "success"

    %tr.linked{ :class => job_status, |
                :href => send("#{@namespace}_job_path", job.message_id) }
      %td= job.payload.fetch(:data, :github, :repository, :name, 'Unknown')
      %td= job.payload.fetch(:data, :code_fetcher, :info, :reference, 'none').to_s.gsub('refs/','')
      %td= job.payload.fetch(:data, :code_fetcher, :info, :commit_sha, 'Unknown').to_s.slice(0, 7)
      %td= "#{job.percent_complete}%"
      %td= job.status
      %td
        %span{ "title" => "#{job.created_at.strftime('%Y/%m/%d %H:%M:%S')}" }= time_ago_in_words(job.created_at) + ' ago'

- headers        = ['Repository', 'Reference', 'Commit', 'Progress', 'Status', 'Last Updated']
- header_classes = ['col-md-2',  'col-md-1', 'col-md-1', 'col-md-1', 'col-md-1', 'col-md-2']
= render(:partial => 'layouts/table',                     |
         :locals => { :table_id => 'log-display',         |
                      :table_content_name => :table,      |
                      :header_data => headers,            |
                      :header_classes => header_classes })

- if content_for?(:pagination)
  %div.fission-pagination.well.well-sm= content_for(:pagination)
