- if content_for?(:pagination)
  %div.fission-pagination.well.well-sm= content_for(:pagination)
%table.table.table-hover#log-display
  %thead
    %tr
      %th.col-md-2
        Timestamp
      %th.col-md-5
        Message ID
      %th.col-md-2
        Account
      %th.col-md-2
        Job Name
      %th.col-md-2
        Status
      %th.col-md-1
        Completed
  %tbody
    - jobs.each do |job|
      %tr.linked{:class => job.status == :error ? 'danger' : '', :href => send("#{@namespace}_job_path", job.message_id)}
        %td= job.created_at.strftime('%Y/%m/%d %H:%M:%S')
        %td= job.message_id
        %td= job.account.name
        %td= job.payload.get(:data, :router, :action)
        %td= job.status
        %td= "#{job.percent_complete}%"
- if content_for?(:pagination)
  %div.fission-pagination.well.well-sm= content_for(:pagination)
