%div#fission-job.container.container-padding
  %div.panel.panel-default
    %div.panel-heading
      %h3
        Job:
        = @job.message_id
    %div.panel-body
      %table.table.table-hover
        %tr
          %td
            %b
              Timestamp
          %td= @job.created_at
        %tr
          %td
            %b
              Account
          %td= @job.account.name
        %tr
          %td
            %b
              Status
          %td= @job.status.to_s.humanize
        %tr
          %td
            %b
              Completed
          %td= "#{@job.percent_complete}%"
        %tr
          %td
            %b
              History
          %td
            - @history.each do |j|
              = link_to j.created_at, job_path(j)
              %br
      %div.panel.panel-default
        %div.panel-heading
          %h4.panel-title
            %a.accordion-toggle{'data-toggle' => 'collapse', :href => '#payload-display'}
              Payload
        %div.panel-collapse.collapse#payload-display
          %div.panel-body
            %pre#job-payload~ JSON.pretty_generate(@job.payload.to_hash)
